[submodule "packages/mongoose-repository"]
	path = packages/mongoose-repository
	url = https://github.com/blugavere/mongoose-repository.git
[submodule "packages/cassandra-repository"]
	path = packages/cassandra-repository
	url = https://github.com/blugavere/cassandra-repository.git
