{
  "all": true,
  "include": [
    "packages/**/*.js"
  ],
  "exclude": [
    "**/gulpfile.js",
    "packages/*/test/**",
    "packages/*/dist/**",
    "packages/**/*.test.js"
  ],
  "sourceMap": true,
  "instrument": true
}